<div class="kpi-footer">
    <div class="kpi">
        <span class="kpi-label">Shoeboxes in Inventory</span>
        <span class="kpi-value">
            751 <span class="kpi-unit">Nos.</span>
        </span>
    </div>

    <div class="kpi">
        <span class="kpi-label">Master boxes<br />ready for dispatch</span>
        <span class="kpi-value">
            5 <span class="kpi-unit">Nos.</span>
        </span>
    </div>
</div>
