.content {
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    height:520px;
}

.main-contents {
    display: flex;
    gap : 10px;
}
.charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: start;
    /* ✅ Prevent stretching */
}

.content-footer {
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}

.footer-logo img {
    height: 40px;
    width: 80px;
}

.footer-logo,
.footer-logo-right img {
    height: 40px;
}