.app-container {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    overflow: hidden;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content-wrapper {
    flex: 1;
    padding: 30px;
}

.content-footer {
    margin-top: auto;
    padding-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}

.footer-logo img {
    height: 40px;
    width : 80px;
}

.footer-logo,
.footer-logo-right img {
    height: 40px;
}

@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }

    .content-wrapper {
        padding: 15px;
    }
}